<h1>Artisti</h1>


<div class="row">

<div class="col-md-2 menu-container">
  <%= render 'left_menu' %>
</div>

  <div class="col-md-10 artworks-container">

 <div class="container row">
    <% @artists.each do |artist| %>

    <div class="col-lg-4 artworks-panel">
      <h2><%= artist.name %></h2>
      <p><%= artist.description %></p>
       <%= link_to 'Mostra', artist_path(artist) %>
       <%= link_to 'Modifica', edit_artist_path(artist) %>
       <%= link_to 'Elimina', artist_path(artist),
              method: :delete,
              data: { confirm: "Sei sicuro di voler eliminare?" } %>
    </div>

    <% end %>

 </div>




  </div>
</div>