
<div class="row">

  <div class="col-md-2 menu-container">
    <%= render 'left_menu' %>
  </div>

  <div class="col-md-10 artworks-container">

    <p>
      <strong>Nome:</strong>
      <%= @artist.name %>
    </p>


    <p>
      <strong>Descrizione:</strong>
      <%= @artist.description %>
    </p>


    <%= link_to 'Indietro', artists_path %>
    <%= link_to 'Modifica', edit_artist_path(@artist) %>

</div>