
<div class="row">

  <div class="col-md-2 menu-container">
    <%= render 'left_menu' %>
  </div>

  <div class="col-md-10 artworks-container">

    <p>
      <strong>Nome:</strong>
      <%= @artwork.name %>
    </p>

    <p>
      <strong>Dimensione:</strong>
      <%= @artwork.dimension %>
    </p>

    <p>
      <strong>Descrizione:</strong>
      <%= @artwork.description %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @artwork.notes %>
    </p>

    <p>
      <strong>Produzione?</strong>
      <%= translate(@artwork.production.class) %>
    </p>
    <p>
      <strong>Quantità</strong>
      <%= @artwork.quantity %>
    </p>
    <p>
      <strong>Tipo:</strong>
      <%= @artwork.type %>
    </p>
    <p>
      <strong>Tecnica:</strong>
      <%= @artwork.technique %>
    </p>
    <p>
      <strong>Link IUAV</strong>
      <%= @artwork.linkIUAV %>
    </p>
    <p>
    <strong>Periodo: da</strong>
      <%= @artwork.infdate.year %>
    <strong> a </strong>
      <%= @artwork.supdate.year %>
    </p>
    <p>
      <strong>Data esatta?</strong>
      <%= translate(@artwork.dateexact.class) %>
    </p>


    <%= link_to 'Indietro', artworks_path %>
    <%= link_to 'Modifica', edit_artwork_path(@artwork) %>

</div>