<%= form_for @collaboration do |f| %>

  <% if @collaboration.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@collaboration.errors.count, "error") %> prohibited
        this collaboration from being saved:
      </h2>
      <ul>
        <% @collaboration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label 'Tipo' %>
    <%= f.text_field :typology %>
  </p>


  <p>
    <%= f.label 'Artista' %>
    <%= f.select(:artist_id, @artists.collect {|p| [ p.name, p.id ] }, {:prompt => 'Seleziona artista'}) %>
  </p>
  <p>
    <%= f.label 'Opera' %>
    <%= f.select(:artwork_id, @artworks.collect {|p| [ p.name, p.id ] }, {:prompt => 'Seleziona opera'}) %>
  </p>


  <p>
    <%= f.submit%>
  </p>

  <% end %>