<h1>Collaborazioni</h1>


<div class="row">

<div class="col-md-2 menu-container">
  <%= render 'left_menu' %>
</div>

  <div class="col-md-10 artworks-container">

 <div class="container row">
    <% @collaborations.each do |collaboration| %>

    <div class="col-lg-4 artworks-panel">
      <h2><%= collaboration.typology %></h2>
      <p><%= collaboration.artist.name %></p>
       <%= link_to 'Mostra', collaboration_path(collaboration) %>
       <%= link_to 'Modifica', edit_collaboration_path(collaboration) %>
       <%= link_to 'Elimina', collaboration_path(collaboration),
              method: :delete,
              data: { confirm: "Sei sicuro di voler eliminare?" } %>
    </div>

    <% end %>

 </div>