
<div class="row">

  <div class="col-md-2 menu-container">
    <%= render 'left_menu' %>
  </div>

  <div class="col-md-10 artworks-container">

    <p>
      <strong>Tipo:</strong>
      <%= @collaboration.typology %>
    </p>
    <p>
      <strong>Opera:</strong>
      <%= @collaboration.artwork.name %>
    </p>
    <p>
      <strong>Artista:</strong>
      <%= @collaboration.artist.name %>
    </p>


    <%= link_to 'Indietro', collaborations_path %>
    <%= link_to 'Modifica', edit_collaboration_path(@collaboration) %>

</div>